@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #111;
    height: 100vh;
}
#container{
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./p404.png'),#151729;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#container .content{
    max-width: 600px;
    text-align: center;
}
#container .content h2{
    font-size: 18vw;
    color: #fff;
    line-height: 1em;
}
#container .content h4{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
    background: #fff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}
#container .content p{
    color: #fff;
    font-size: 1.2em;
}
#container .content a{
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #0077ff;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    border-radius: 25px;
    border-bottom: 4px solid #0052b1;
}